# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MYKEEB_V7A5_LEFT

config ZMK_KEYBOARD_5AME
    default "mykeeb_v7a5"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MYKEEB_V7A5_LEFT || SHIELD_MYKEEB_V7A5_RIGHT

config ZMK_SPLIT
    default y

endif
