#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


//┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
//┃    this is expecting NEO 2.0 layout to be configured                         ┃
//┃    - it has some 7th row keys, to allow for y and ß                          ┃
//┃    - especially the macros for special characters use caps as an modifier    ┃
//┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛


//┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
//┃    defines and macros                                                        ┃
#define PTAB LC(PG_UP)
#define NTAB LC(PG_DN)

// Macro to apply momentary-layer-on-hold/toggle-layer-on-tap to a specific layer
#define MO_TOG(layer) &mo_tog layer layer

#define CAPS_MACRO(name,key) \
    name: name { \
            label = ZMK_MACRO_STRINGIFY(ZM_ ## name); \
            compatible = "zmk,behavior-macro"; \
            #binding-cells = <0>; \
            bindings = <&macro_press &kp CAPS> , <&macro_tap &kp key >  , <&macro_release &kp CAPS> ; \
        };
//┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

//┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
//┃    homerow mod stuff                                                         ┃
#define HOMEROW_OPTION 0
//┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫
//┃    option 1                                                                  ┃
#if HOMEROW_OPTION == 1
#define BASE_A &lh_pht LSFT A
#define BASE_S &lh_pht LGUI S
#define BASE_D &lh_pht LALT D
#define BASE_F &lh_pht LCTL F
#define BASE_G &kp          G
#define BASE_H &kp          H
#define BASE_J &rh_pht LCTL J
#define BASE_K &rh_pht LALT K
#define BASE_L &rh_pht LGUI L
#define BASE_SEMI &rh_pht LSFT SEMI
#define HOMEROW_MACRO \
        lh_pht: left_hand_positional_hold_tap { \
            compatible = "zmk,behavior-hold-tap"; \
            label = "LEFT_POSITIONAL_HOLD_TAP"; \
            #binding-cells = <2>; \
            flavor = "tap-unless-interrupted"; \
            tapping-term-ms = <100>; \
            quick-tap-ms = <200>; \
            bindings = <&kp>, <&kp>; \
            hold-trigger-key-positions = <3 4 5 \
                                          12 13 14 15 16 17 \
                                          25 26 27 28 29 30 31 \
                                          39 40 41 42 43 44 45 \
                                          52 53 54 55 56 57 >; \
        }; \
        rh_pht: right_hand_positional_hold_tap { \
            compatible = "zmk,behavior-hold-tap"; \
            label = "RIGHT_POSITIONAL_HOLD_TAP"; \
            #binding-cells = <2>; \
            flavor = "tap-unless-interrupted"; \
            tapping-term-ms = <100>; \
            quick-tap-ms = <200>; \
            bindings = <&kp>, <&kp>; \
            hold-trigger-key-positions = <0 1 2 \
                                          6 7 8 9 10 11 \
                                          18 19 20 21 22 23 24 \
                                          32 33 34 35 36 37 38 \
                                          46 47 48 49 51>; \
        };
//┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫
//┃    option 2                                                                  ┃
#elif HOMEROW_OPTION == 2
#define BASE_A    &hm LCTL A
#define BASE_S    &hm LGUI S
#define BASE_D    &hm LALT D
#define BASE_F    &hm LSHIFT F
#define BASE_G    &kp G
#define BASE_H    &kp H
#define BASE_J    &hm LSHIFT J
#define BASE_K    &hm LALT K
#define BASE_L    &hm LGUI L
#define BASE_SEMI &hm LCTL SEMI
#define HOMEROW_MACRO \
        hm: homerow_mods { \
            compatible = "zmk,behavior-hold-tap"; \
            label = "HOMEROW_MODS"; \
            #binding-cells = <2>; \
            tapping-term-ms = <150>; \
            quick-tap-ms = <0>; \
            flavor = "tap-preferred"; \
            bindings = <&kp>, <&kp>; \
        };
//┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫
//┃    option 3                                                                  ┃
#elif HOMEROW_OPTION == 3
#define BASE_A    &bhm LCTL A
#define BASE_S    &bhm LGUI S
#define BASE_D    &bhm LALT D
#define BASE_F    &kp       F
#define BASE_G    &kp       G
#define BASE_H    &kp       H
#define BASE_J    &kp       J
#define BASE_K    &bhm LALT K
#define BASE_L    &bhm LGUI L
#define BASE_SEMI &bhm LCTL SEMI
#define HOMEROW_MACRO \
        bhm: balanced_homerow_mods { \
            compatible = "zmk,behavior-hold-tap"; \
            label = "HOMEROW_MODS"; \
            #binding-cells = <2>; \
            tapping-term-ms = <200>;  \
            quick-tap-ms = <0>; \
            flavor = "balanced"; \
            bindings = <&kp>, <&kp>; \
        };
//┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫
//┃    option no homerow mods                                                    ┃
#else
#define BASE_A    &kp A
#define BASE_S    &kp S
#define BASE_D    &kp D
#define BASE_F    &kp F
#define BASE_G    &kp G
#define BASE_H    &kp H
#define BASE_J    &kp J
#define BASE_K    &kp K
#define BASE_L    &kp L
#define BASE_SEMI &kp SEMI
#define HOMEROW_MACRO
#endif
//┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

//┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
//┃    layers                                                                    ┃
#define BASE 0
#define NAV  1
#define MISC 2
#define SYMB 3
//┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

&sl {
    release-after-ms = <2000>;
};

/ {
    behaviors {
        // This is mod-tap with the "balanced" flavor.
        // Improves the '&mt RCTRL SPACE' behavior when typing quickly.
        bmt: balanced_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };
        mo_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "mo_tog";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;
        };
        HOMEROW_MACRO
        tabesc: tab_escape {
            compatible = "zmk,behavior-mod-morph";
            label = "TAB_ESCAPE";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&kp TAB>;
            mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
        };
    };

    macros {
        CAPS_MACRO(caps_Q, Q)
        CAPS_MACRO(caps_W, W)
        CAPS_MACRO(caps_E, E)
        CAPS_MACRO(caps_R, R)
        CAPS_MACRO(caps_T, T)
        CAPS_MACRO(caps_Y, Y)
        CAPS_MACRO(caps_U, U)
        CAPS_MACRO(caps_I, I)
        CAPS_MACRO(caps_O, O)
        CAPS_MACRO(caps_P, P)

        CAPS_MACRO(caps_A, A)
        CAPS_MACRO(caps_S, S)
        CAPS_MACRO(caps_D, D)
        CAPS_MACRO(caps_F, F)
        CAPS_MACRO(caps_G, G)
        CAPS_MACRO(caps_H, H)
        CAPS_MACRO(caps_J, J)
        CAPS_MACRO(caps_K, K)
        CAPS_MACRO(caps_L, L)
        CAPS_MACRO(colon, SEMI)
        CAPS_MACRO(caps_SQT, SQT)

        CAPS_MACRO(caps_Z, Z)
        CAPS_MACRO(caps_X, X)
        CAPS_MACRO(caps_C, C)
        CAPS_MACRO(caps_V, V)
        CAPS_MACRO(caps_B, B)
        CAPS_MACRO(caps_N, N)
        CAPS_MACRO(caps_M, M)
        CAPS_MACRO(quote, COMMA)
        CAPS_MACRO(squote, Q)
        CAPS_MACRO(semi, FSLH)
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label= "BASE";
            bindings = <
//┏━━━━━━━━━━┳━━━━━━━━━━┓                                           ┏━━━━━━━━━━┓                             ┏━━━━━━━━━━┓                                           ┏━━━━━━━━━━┳━━━━━━━━━━┓
  &none      &bootloader                                            &none                                    &none                                                  &none      &none    
//┣━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━╋━━━━━━━━━━┫                             ┏━━━━━━━━━━╋━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━┫
  &tabesc    &kp Q      &kp W      &kp E      &kp R      &kp T               /*┃                             ┃*/        &kp Y      &kp U      &kp I      &kp O      &kp P      &kp MINUS
  MO_TOG(SYMB) BASE_A   BASE_S     BASE_D     BASE_F     BASE_G     &kp TAB  /*┣━━━━━━━━━━┓       ┏━━━━━━━*/ &kp TAB    BASE_H     BASE_J     BASE_K     BASE_L     BASE_SEMI  &kp SQT
  &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B      &bmt LCTRL DEL &kp DEL        &kp BSPC   &bmt RCTRL BSPC &kp N &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RSHIFT
//┣━━━━━━━━━━╋━━━┳━━━━━━┻━━━━━━━┳━━┻━━━━━━━━━━┻┳━━━━━━━━━┻━━━━┳━━━━━┻━━━━━━━━┳━┻━━━━━━━━━━┻━┓   ┏━┻━━━━━━━━━━┻━┳━━━━━━━━┻━━━━━┳━━━━┻━━━━━━━━━┳┻━━━━━━━━━━┻━━┳━━━━━━━┻━━━━━━┳━━━╋━━━━━━━━━━┫
  &none          &none          &lt NAV  RET   &bmt LMETA RET &kp RET        &none              &none          &kp SPC        &bmt LMETA SPC &lt NAV  SPC   &none              &none
//┗━━━━━━━━━━┛   ┗━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┛   ┗━━━━━━━━━━┛
            >;
        };
        nav_layer {
            label= "NAV";
            bindings = <
//┏━━━━━━━━━━┳━━━━━━━━━━┓                                           ┏━━━━━━━━━━┓                             ┏━━━━━━━━━━┓                                           ┏━━━━━━━━━━┳━━━━━━━━━━┓
  &to BASE   &none                                                  &trans                                   &trans                                                 &none      &trans
//┣━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━╋━━━━━━━━━━┫                             ┏━━━━━━━━━━╋━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━┫
  &trans     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5              /*┃                             ┃*/        &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS
  &trans     &none      &kp PTAB   &kp PG_UP  &none      &none      &trans   /*┣━━━━━━━━━━┓       ┏━━━━━━━*/ &trans     &kp PG_UP  &kp LEFT   &kp UP     &kp RIGHT  &colon     &trans
  &trans     &none      &kp NTAB   &kp PG_DN  &kp INS    &none      &trans     &trans             &trans     &trans     &kp PG_DN  &kp LEFT   &kp DOWN   &kp RIGHT  &semi      &trans
//┣━━━━━━━━━━╋━━━┳━━━━━━┻━━━━━━━┳━━┻━━━━━━━━━━┻┳━━━━━━━━━┻━━━━┳━━━━━┻━━━━━━━━┳━┻━━━━━━━━━━┻━┓   ┏━┻━━━━━━━━━━┻━┳━━━━━━━━┻━━━━━┳━━━━┻━━━━━━━━━┳┻━━━━━━━━━━┻━━┳━━━━━━━┻━━━━━━┳━━━╋━━━━━━━━━━┫
  &trans         &mo MISC       &trans         &trans         &trans         &to BASE           &to BASE       &trans         &trans         &trans         &mo MISC           &trans
//┗━━━━━━━━━━┛   ┗━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┛   ┗━━━━━━━━━━┛
            >;
        };
        misc_layer {
            label= "MISC";
            bindings = <
//┏━━━━━━━━━━┳━━━━━━━━━━┓                                           ┏━━━━━━━━━━┓                             ┏━━━━━━━━━━┓                                           ┏━━━━━━━━━━┳━━━━━━━━━━┓
  &to BASE   &bt BT_CLR                                             &trans                                   &trans                                                 &none      &kp F12
//┣━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━╋━━━━━━━━━━┫                             ┏━━━━━━━━━━╋━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━┫
  &trans     &kp F1     &kp F2     &kp F3     &kp F4     &kp F5              /*┃                             ┃*/        &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &kp F11
  &trans     &none      &kp PTAB   &kp PG_UP  &none      &none      &trans   /*┣━━━━━━━━━━┓       ┏━━━━━━━*/ &trans     &kp PG_UP  &none      &kp UP     &none      &none      &trans
  &trans     &none      &kp NTAB   &kp PG_DN  &kp INS    &none      &trans     &trans             &trans     &trans     &kp PG_DN  &kp LEFT   &kp DOWN   &kp RIGHT  &none      &trans
//┣━━━━━━━━━━╋━━━┳━━━━━━┻━━━━━━━┳━━┻━━━━━━━━━━┻┳━━━━━━━━━┻━━━━┳━━━━━┻━━━━━━━━┳━┻━━━━━━━━━━┻━┓   ┏━┻━━━━━━━━━━┻━┳━━━━━━━━┻━━━━━┳━━━━┻━━━━━━━━━┳┻━━━━━━━━━━┻━━┳━━━━━━━┻━━━━━━┳━━━╋━━━━━━━━━━┫
  &trans         &trans         &trans         &trans         &trans         &to BASE           &to BASE       &trans         &trans         &trans         &trans             &trans
//┗━━━━━━━━━━┛   ┗━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┛   ┗━━━━━━━━━━┛
            >;
        };
        symb_layer {
            label= "SYMB";
            bindings = <
//┏━━━━━━━━━━┳━━━━━━━━━━┓                                           ┏━━━━━━━━━━┓                             ┏━━━━━━━━━━┓                                           ┏━━━━━━━━━━┳━━━━━━━━━━┓
  &to BASE   &none                                                  &trans                                   &trans                                                 &none      &trans
//┣━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━╋━━━━━━━━━━┫                             ┏━━━━━━━━━━╋━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━┫
  &tabesc    &caps_Q    &caps_W    &caps_E    &caps_R    &caps_T             /*┃                             ┃*/        &caps_Y    &caps_U    &caps_I    &caps_O    &caps_P    &kp LEFT_BRACKET
  &trans     &caps_A    &caps_S    &caps_D    &caps_F    &caps_G    &trans   /*┣━━━━━━━━━━┓       ┏━━━━━━━*/ &kp TAB    &caps_H    &caps_J    &caps_K    &caps_L    &colon     &caps_SQT
  &trans     &caps_Z    &caps_X    &caps_C    &caps_V    &caps_B    &bmt LCTRL DEL &trans         &trans     &bmt RCTRL BSPC &caps_N &caps_M  &quote     &squote    &semi      &trans
//┣━━━━━━━━━━╋━━━┳━━━━━━┻━━━━━━━┳━━┻━━━━━━━━━━┻┳━━━━━━━━━┻━━━━┳━━━━━┻━━━━━━━━┳━┻━━━━━━━━━━┻━┓   ┏━┻━━━━━━━━━━┻━┳━━━━━━━━┻━━━━━┳━━━━┻━━━━━━━━━┳┻━━━━━━━━━━┻━━┳━━━━━━━┻━━━━━━┳━━━╋━━━━━━━━━━┫
  &trans         &trans         &trans         &trans         &trans         &to BASE           &to BASE       &trans         &trans         &trans         &trans             &trans
//┗━━━━━━━━━━┛   ┗━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┛   ┗━━━━━━━━━━┛
            >;
        };
    };
};
